body{
    background-color: black;
}

.main{
    text-align: center;
    font-size: 50px;
    font-family: Arial, Helvetica, sans-serif;
    color: lightblue
}

.container{
    position: relative;
    text-align: center;
    color: blueviolet;
}

.center{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}